# Data Type

### 1\. Int

In [8]:
mango = 50
apple = 44

totalFruit = mango+apple
totalFruit

print(f"totalFruit is {type(totalFruit)} and value is '{totalFruit}'")

totalFruit is <class 'int'> and value is '94'

In [9]:
pen = 100
pencil = 600

stationary = pen*pencil
stationary

print(f"stationary is {type(stationary)} and value is '{stationary}'")

stationary is <class 'int'> and value is '60000'

In [10]:
tables = 23
chairs = 40

furniture = tables*chairs

print(f"furniture is {type(furniture)} and value is '{furniture}'")

furniture is <class 'int'> and value is '920'

In [14]:
birds = 90
animals = 55
reptiles =10

All = birds + animals + reptiles

print(f"All is {type(All)} and value is '{All}'")

All is <class 'int'> and value is '155'

In [16]:
earth = 1
moon = 1
sun = 1

allPlanets = earth + moon + sun

print(f"allPlanets = {type(allPlanets)} and value = '{allPlanets}'")

allPlanets = <class 'int'> and value = '3'

In [17]:
sample1 = 50
sample2 = 4
sample3 = 2

dynamicSamples = sample1 - sample2 - sample3

print(f"dynamicSamples = {type(dynamicSamples)} and value = '{dynamicSamples}'")

dynamicSamples = <class 'int'> and value = '44'

In [20]:
student1 = 44
student2 = 11

divide = student1%student2

print(f"divide = {type(divide)} and value = '{divide}'")

divide = <class 'int'> and value = '0'

In [21]:
solvent = 20
solution = 10

total = solvent + solution

print(f"total = {type(total)} and value = '{total}'")

total = <class 'int'> and value = '30'

In [22]:
product1 = 99
product2 = 100

mulProduct = product1 * product2

print(f"mulProduct = {type(mulProduct)} and Multiplication = '{mulProduct}'")

mulProduct = <class 'int'> and Multiplication = '9900'

In [23]:
cakes = 400
cream = 2

mod = cakes % cream

print(f"mod = {type(mod)} and Module = '{mod}'")

mod = <class 'int'> and Module = '0'

In [2]:
item1=678
print(f"1 The value is {item1} and The type is {type(item1)}")
item1=67
print(f"2 The value is {item1} and The type is {type(item1)}")
item1=500
print(f"3 The value is {item1} and The type is {type(item1)}")
item1=457
print(f"4-The value is {item1} and The type is {type(item1)}")
item1=189
print(f"5-The value is {item1} and The type is {type(item1)}")
item1=467
print(f"6-The value is {item1} and The type is {type(item1)}")
item1=100
print(f"7-The value is {item1} and The type is {type(item1)}")
item1=800
print(f"8-The value is {item1} and The type is {type(item1)}")
item1=612
print(f"9-The value is {item1} and The type is {type(item1)}")
item1=634
print(f"10-The value is {item1} and The type is {type(item1)}")
item1=567

1 The value is 678 and The type is <class 'int'>
2 The value is 67 and The type is <class 'int'>
3 The value is 500 and The type is <class 'int'>
4-The value is 457 and The type is <class 'int'>
5-The value is 189 and The type is <class 'int'>
6-The value is 467 and The type is <class 'int'>
7-The value is 100 and The type is <class 'int'>
8-The value is 800 and The type is <class 'int'>
9-The value is 612 and The type is <class 'int'>
10-The value is 634 and The type is <class 'int'>

In [4]:
Om =12
print(f"11.The value of The is {Om} and the Data types of The is {type(Om)}")

Nandu=34
print(f"12.The value of Nandu is {Nandu} and the data types of Nandu is {type(Nandu)}")

YY=67
print(f"13.The value of YY is {YY} and the Data types of YY is {type(YY)}")

harsh=9
print(f"14.The value of harsh is {harsh} and the data types of harsh is {type(harsh)}")

CSE=775
print(f"15.The data types of CSE is {type(CSE)} and the value of CSE is {CSE}")

Ganesh =1
print(f"16.The value of Ganesh is {Ganesh} and the Data types of Ganesh is {type(Ganesh)}")

Sonam=90
print(f"17.The value of Sonam is {Sonam} and the data types of Sonam is {type(Sonam)}")

Avanti=99
print(f"18.The value of Avanti is {Avanti} and the Data types of Avanti is {type(Avanti)}")

Prathamesh=12
print(f"19.The value of Prathamesh is {Prathamesh} and the data types of Prathamesh is {type(Prathamesh)}")

rekha=22
print(f"20.The data types of rekha is {type(rekha)} and the value of rekha is {rekha}")

11.The value of The is 12 and the Data types of The is <class 'int'>
12.The value of Nandu is 34 and the data types of Nandu is <class 'int'>
13.The value of YY is 67 and the Data types of YY is <class 'int'>
14.The value of harsh is 9 and the data types of harsh is <class 'int'>
15.The data types of CSE is <class 'int'> and the value of CSE is 775
16.The value of Ganesh is 1 and the Data types of Ganesh is <class 'int'>
17.The value of Sonam is 90 and the data types of Sonam is <class 'int'>
18.The value of Avanti is 99 and the Data types of Avanti is <class 'int'>
19.The value of Prathamesh is 12 and the data types of Prathamesh is <class 'int'>
20.The data types of rekha is <class 'int'> and the value of rekha is 22

In [8]:
speed = 60
print(f"21. The type of speed is {type(speed)} and the value is {speed}")

hours = 8
print(f"22 .The type of hours is {type(hours)} and the value is {hours}")

minutes = 45
print(f"23. The type of minutes is {type(minutes)} and the value is {minutes}")

seconds = 30
print(f"24. The type of seconds is {type(seconds)} and the value is {seconds}")

notebooks = 5
print(f"25. The type of notebooks is {type(notebooks)} and the value is {notebooks}")

errors = 0
print(f"26. The type of errors is {type(errors)} and the value is {errors}")

attempts = 2
print(f"27. The type of attempts is {type(attempts)} and the value is {attempts}")

rating = 4
print(f"28. The type of rating is {type(rating)} and the value is {rating}")

votes = 146
print(f"29. The type of votes is {type(votes)} and the value is {votes}")

likes = 2100
print(f"30.The type of likes is {type(likes)} and the value is {likes}")

21. The type of speed is <class 'int'> and the value is 60
22 .The type of hours is <class 'int'> and the value is 8
23. The type of minutes is <class 'int'> and the value is 45
24. The type of seconds is <class 'int'> and the value is 30
25. The type of notebooks is <class 'int'> and the value is 5
26. The type of errors is <class 'int'> and the value is 0
27. The type of attempts is <class 'int'> and the value is 2
28. The type of rating is <class 'int'> and the value is 4
29. The type of votes is <class 'int'> and the value is 146
30.The type of likes is <class 'int'> and the value is 2100

In [9]:
roll_number = 67
print(f"31. The type of roll_number is {type(roll_number)} and the value is {roll_number}")

marks = 89
print(f"32. The type of marks is {type(marks)} and the value is {marks}")

age = 21
print(f"33. The type of age is {type(age)} and the value is {age}")

rank = 4
print(f"34. The type of rank is {type(rank)} and the value is {rank}")

height_cm = 170
print(f"35. The type of height_cm is {type(height_cm)} and the value is {height_cm}")

year = 2025
print(f"36. The type of year is {type(year)} and the value is {year}")

price = 499
print(f"37. The type of price is {type(price)} and the value is {price}")

quantity = 3
print(f"38. The type of quantity is {type(quantity)} and the value is {quantity}")

day = 19
print(f"39. The type of day is {type(day)} and the value is {day}")

month = 6
print(f"40. The type of month is {type(month)} and the value is {month}")

31. The type of roll_number is <class 'int'> and the value is 67
32. The type of marks is <class 'int'> and the value is 89
33. The type of age is <class 'int'> and the value is 21
34. The type of rank is <class 'int'> and the value is 4
35. The type of height_cm is <class 'int'> and the value is 170
36. The type of year is <class 'int'> and the value is 2025
37. The type of price is <class 'int'> and the value is 499
38. The type of quantity is <class 'int'> and the value is 3
39. The type of day is <class 'int'> and the value is 19
40. The type of month is <class 'int'> and the value is 6

### 2\. str

In [13]:

s1 = "Hi"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s2 = 'World'
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s3 = "12345"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s4 = "True"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s5 = "None"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s6 = "IOTA"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s7 = "AI"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s8 = "Software testing"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s9 = "Earth Rotating"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s10 = "Line1Line2"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s11 = "Tab Separated"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s12 = "He said slowly"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s13 = "Raining today"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s14 = "Cafe"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s15 = "India"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s16 = "smile"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s17 = "naïve"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s18 = "façade"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s19 = "Price: $100"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s20 = "3.14159"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s21 = "#hashtag"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s22 = "email@example.com"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s23 = "Hello"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s24 = "Python"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s25 = "Sorry"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s26 = "CSE"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s27 = "Fighter"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s28 = "Answer"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s29 = "Alice"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s30 = f"My name is {name} and I am {age} years old"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s31 = "om is 4 years old"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s32 = "abcdef"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s33 = "abcdef"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s34 = "padded"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s35 = "whitespace"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s36 = "UPPERCASE"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s37 = "lowercase"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s38 = "Title Case"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s39 = "Hello, world!"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s40 = "Wait... what"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s41 = "5 + 3 = 8"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s42 = "√25 = 5"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s43 = "UsersNameDocuments"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s44 = "/home/user/documents"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s45 = "<html><body>Hello</body></html>"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s46 = '{"name": "Alice", "age": 30}'
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s47 = "def greet(): return 'Hello'"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s48 = "2025-06-21"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s49 = "June 21, 2025"
print(f"The type of s1 is {type(s1)} and the value is '{s1}'")

s50 = "This is a very long string used to demonstrate a string data type in Python. It can be as long as needed."
print(f"The type of s50 is {type(s50)} and the value is '{s50}'")

The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s1 is <class 'str'> and the value is 'Hi'
The type of s50 is <class 'str'> and the value is 'This is a very long string used to demonstrate a string data type in Python. It can be as long as needed.'

### 3\. Float